@import "../css/mixins";

.container {
    @include lg {
        width: 600px;
        margin: 0 auto;
    }
}
.wrapper {
    display: flex;
    justify-content: center;
    
    @include lg {
        justify-content: space-between;
    }

    > div {
        width: 30%;

        @include lg {
            width: 50%;
        }
    }
}

.bottom {
    margin-top: 20px;
}